#container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
}
#main-container {
  max-width: 800px;
  width: 70%;
  padding: 20px;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#projects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0px 20px;
}
#project-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.thumbnail {
  width: 300px;
  height: auto;
  display: block;
  object-fit: cover;
}
.project {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
}
.project-title {
  font-size: 16px;
  font-weight: 800;
}
.project-contents {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 10px;
}
.project-tech {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: start;
}
.tech-tag {
  font-size: 12px;
  padding: 4px 7px;
  border-radius: 10px;
  color: gray;
}
.title {
  font-size: 40px;
  font-weight: 800;
}
.subtitle {
  font-size: 18px;
  font-weight: 800;
}
hr {
  padding: 0px;
  width: 100%;
  border: 0;
  height: 0.5px;
  background-color: gray;
}
.lora-font {
  font-family: "Lora", serif;
}
.nunito-font {
  font-family: "Nunito", sans-serif;
}
.josefin-font {
  font-family: "Josefin Sans", sans-serif;
}
.karla-font {
  font-family: "Karla", sans-serif;
}
.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}
.bio {
  font-size: 16px;
  font-weight: 350;
  text-align: left;
  width: 90%;
}
.tag {
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 4px 7px;
  font-size: 12px;
  color: gray;
  transition: background-color 0.3s ease;
  cursor: default;
}
.tag:hover {
  background-color: white;
}
.grey-tag {
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
}
.blue-tag {
  background-color: #cbdceb;
  border: 2px solid #cbdceb;
}
.red-tag {
  background-color: #ffeaea;
  border: 2px solid #ffeaea;
}
.yellow-tag {
  background-color: #fff2c6;
  border: 2px solid #fff2c6;
}
.medal {
  width: 20px;
}
.headshot {
  width: clamp(150px, 15vw, 200px);
  height: clamp(150px, 15vw, 200px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 5px;
  padding-top: 10px;
}
.contact-links p {
  padding: 0;
  margin: 0;
}
.job-highlight {
  font-weight: 800;
  font-style: italic;
}
.title span {
  display: inline-block;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.title span:hover {
  transform: translateY(-15px);
}
a,
a:visited {
  text-decoration: none;
  color: #0000ee;
}
a:hover {
  color: orange;
}
@media (max-width: 700px) {
  #header {
    flex-direction: column;
    align-items: flex-start;
  }

  .headshot {
    margin-top: 20px;
  }
}
