.project-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  transition: border 0.5s ease-in-out;
  border-radius: 20px;
}
.project-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  justify-content: start;
  text-align: left;
  width: 100%;
}
.project-title {
  font-size: 20px;
  font-weight: bold;
}
.project-description {
}

.project-image {
  position: relative;
  aspect-ratio: 3/2;
  width: 20%;
  overflow: hidden;
}
.project-image .img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition:
    opacity 250ms ease,
    transform 350ms ease;
}

.project-image .img-one {
  opacity: 1;
  transform: scale(1);
}

.project-image .img-two {
  opacity: 0;
  transform: scale(1.03); /* tiny "pop" when it appears */
}
.project-card:hover {
  border: 1px solid maroon;
  cursor: pointer;
}

.project-card:hover .img-two {
  opacity: 1;
  transform: scale(1);
}

.project-card:hover .img-one {
  opacity: 0;
  transform: scale(0.99);
}
.project-card-link {
  text-decoration: none;
  color: inherit;
  display: flex; /* keep your row layout */
}
