.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: start;
  justify-content: center;
  color: brown;
  font-weight: bold;
  font-size: 24px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.current-page {
  color: black;
}
a {
  text-decoration: none;
}
