.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: start;
  justify-content: center;
  color: brown;
  font-weight: bold;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.current-page {
  color: black;
}
a {
  text-decoration: none;
}
