.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: start;
  justify-content: start;
  color: gray;
  font-weight: 600;
  padding: 10px;
  font-size: 30px;
  width: 100%;
  border: 2px solid brown;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  color: gray;
  transition: color 0.2s ease-out;
}
a:hover {
  cursor: pointer;
  color: rgb(67, 67, 67);
}
.current-page {
  color: maroon;
}
