.home-section img {
  width: 300px;

  filter: grayscale(100%);
  transition-property: filter, border-radius, transform;
  transition-duration: 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease-in, ease-in, ease-in;
}
.home-section img:hover {
  filter: grayscale(0%);
  border-radius: 100px;
  transform: rotate(-5deg);
}
.home-section {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: end;
  justify-content: space-between;
  text-align: justify;
}
.blurb {
  width: 500px;
}
.blurb p {
  margin: 0;
  line-height: 1.6;
}
.drop-cap {
  font-size: 124px;
  float: left;
  line-height: 0.5;
  font-weight: 700;
  margin: 0px 5px 5px 0px;
  transition-property: transform, color;
  transition-duration: 0.1s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out;
  color: maroon;
}
.rotate {
  transform: rotate(10deg);
  color: black;
}
