.headshot {
  width: 220px;
  flex-shrink: 0;
  filter: grayscale(100%);
  transition-property: filter, border-radius, transform;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in, ease-in, ease-in;
}
.headshot:hover {
  filter: grayscale(0%);
  border-radius: 100px;
  transform: rotate(-5deg);
}
.drop-cap {
  font-size: 88px;
  float: left;
  line-height: 0.6;
  font-weight: 700;
  margin: 0px 5px 4px 0px;
  transition-property: transform, color;
  transition-duration: 0.1s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out;
  color: maroon;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.rotate {
  transform: rotate(10deg);
  color: black;
}

@media (max-width: 640px) {
  .headshot {
    width: 160px;
    align-self: center;
  }
  .drop-cap {
    font-size: 64px;
  }
}
