.main-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  height: 100vh;
  justify-content: start;
  align-items: start;
}
#root {
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
